@model IEnumerable<BuildIt.Models.Inventory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Materials Inventory</h2>

<p>
    @Html.ActionLink("Add Materials to Inventory", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FabricType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FabricColor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FabricAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FabricUnit)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FabricType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FabricColor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FabricAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FabricUnit)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InventoryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.InventoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InventoryID })
        </td>
    </tr>
}

</table>
