@model BuildIt.Models.Project
@using BuildIt.Models
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Current Project Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           <!---- at Html.DisplayNameFor(model => model.ProjectName) -->
            Project Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>

        <dt>
            <!---- at Html.DisplayNameFor(model => model.StartDate) -->
            Start Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            <!---- at Html.DisplayNameFor(model => model.ProjectInventories) -->
            Project Inventory
        </dt>
        @for(var itemIndex=0; itemIndex < Model.ProjectInventories.Count(); itemIndex++ ) 
        {
    
        <dd>
            @Html.DisplayFor(model => model.ProjectInventories.ToList()[itemIndex].Inventory.Title)
        </dd>
        }    
        
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProjectId }) |
    @Html.ActionLink("Back to List", "Index")
</p>


<h2>Material Inventory</h2>

  <ul id="AllInventories">
    @foreach (var item in ViewBag.Inventories)
    {
        // form POST method, make action point to a end point on projectsInventoy controller
        //pass Model.Projectid and Id of current inventoryItem
        // form element 2 input type buttons add/delete
        //mikedoenetting.com
        <!--div style display:none id="ITEMID=breelolistid"-->

        <li>
            <!---form action="/api/ProjectInventories" -->
        
                <!--using (Html.BeginForm("PostProjectInventory", "ProjectInventories"))-->
                <form action="/ProjectInventories/PostProjectInventory" method="post">

                <input type="submit" value="Add to Project" /> <!--PostProjectInventory-->

                @Html.Hidden("InventoryId", (item as Inventory).InventoryID) 
                @Html.Hidden("ProjectId", Model.ProjectId)


                @item.Title
                @item.FabricType
                @item.FabricUnit
                </form>
                <!--- input type="submit" name="add" value="add to project" /-->
                <!---- <button class="btn btn-info" name="delete" value="delete"  onclick="" Function()"ProjectInventorires.GetProjectInventories"/></button> -->
            <!----/form -->
        </li>
    
    }
 </ul>

    <!---    <script type="text/javascript">
            function hello(Value) {
            alert(value);
         }
        </script> -->
    
