@model BuildIt.Models.Project
@using BuildIt.Models
@using System.Linq
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Current Project Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
           <!---- at Html.DisplayNameFor(model => model.ProjectName) -->
            Project Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>

        <dt>
            <!---- at Html.DisplayNameFor(model => model.StartDate) -->
            Start Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            <!---- at Html.DisplayNameFor(model => model.ProjectInventories) -->
            Project Inventory
        </dt>
        @for(var itemIndex=0; itemIndex < Model.ProjectInventories.Count; itemIndex++ )
        {
        <dd>
            <!--AT Html.DisplayFor(model => model.ProjectInventories.ToList()[itemIndex].Inventory.Title)-->
            @Html.DisplayFor(model => model.ProjectInventories.ToList()[itemIndex].Inventory.FabricType)
            @Html.DisplayFor(model => model.ProjectInventories.ToList()[itemIndex].Inventory.FabricColor)
            @Html.DisplayFor(model => model.ProjectInventories.ToList()[itemIndex].Inventory.FabricAmount)
            @Html.DisplayFor(model => model.ProjectInventories.ToList()[itemIndex].Inventory.FabricUnit)

            
           
           
        <!--   delete from project attempt -->
            <!--ask jen on setting ids to forms-->
                <form action="/ProjectInventories/DeleteProjectInventory" method="post" 
                       function autoRefresh()
            {
            var url    = "../../../support/ajaxTest.txt";
            var target = document.getElementById("statusRefresh");

            var doRefresh = function()
            {
            loadXMLDoc(url, function()
            {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
            target.innerHTML=xmlhttp.responseText;
            }
            }
            });

            setInterval( doRefresh, 5000 );
            } 
            
            document.onload = autoRefresh;>
                <button class="btn btn-info" name="delete" value="delete">Delete</button>
                   
                    @Html.Hidden("ProjectId", Model.ProjectId)
                    @Html.Hidden("ProjectInventoryIndex", itemIndex)
                
                  </form> 
            </dd>
        }    
        
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProjectId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<div id="AllInventories">
    <h2>Material Inventory</h2>

      <ul >
        @foreach (var item in ViewBag.Inventories)
        {
            // form POST method, make action point to a end point on projectsInventoy controller
            //pass Model.Projectid and Id of current inventoryItem
            // form element 2 input type buttons add/delete
            //mikedoenetting.com
            <!--div style display:none id="ITEMID=brellolistid"-->

            <li>
                <!---form action="/api/ProjectInventories" -->
        
                    <!--using (Html.BeginForm("PostProjectInventory", "ProjectInventories"))-->
                    <form action="/ProjectInventories/PostProjectInventory" method="post">

                    <input type="submit" value="Add to Project" /> <!--PostProjectInventory-->

                    @Html.Hidden("InventoryId", (item as Inventory).InventoryID) 
                    @Html.Hidden("ProjectId", Model.ProjectId)


                   <!--- at item.Title -->
                    @item.FabricType
                    @item.FabricColor
                    @item.FabricAmount
                    @item.FabricUnit

                       
                    </form>

                    <!--- input type="submit" name="add" value="add to project" /-->
            
             <!--   delete from project attempt 
                 <form action="/ProjectInventories/DeleteProjectInventory" method="post">
                    class="btn btn-info" name="delete" value="delete"></button> 
                    </form> -->
    </li>
    
        }
     </ul>
</div><!--id="AllInventories div"-->

