@model BuildIt.Models.Project
@using BuildIt.Models
@using System.Linq
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{  
    var imagePath = "";
    if (Request["photoChoice"] != null)
    {
        imagePath = Request["photoChoice"];
    }
} 
<!----   var newFileName = "";
    var imagePath = "";

    if (IsPost)
    {
        photo = WebImage.GetImageFromRequest();
        if (photo != null)
        {
            newFileName = Guid.NewGuid().ToString() + "_" +
                Path.GetFileName(photo.FileName);
            imagePath = at"images\" + newFileName;

            photo.Save(AT"\" + imagePath);
        }
    }
}-->

<h2>Current Costume Details</h2>

<div>
    <!---- auto load current project name <h4>Project Name</h4>  -->
    <hr />
    <div class="row">
        <div class="col-md-6">
            <dl class="dl-horizontal">

                <dt>
                    <!---- at Html.DisplayNameFor(model => model.ProjectName) -->
                    Project Name
                </dt>

                <dd>
                    <h3> @Html.DisplayFor(model => model.ProjectName) </h3>
                </dd>

                <dt>
                    <!---- at Html.DisplayNameFor(model => model.StartDate) -->
                    Start Date
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.StartDate)
                </dd>
                <dt>
                    <!---- at Html.DisplayNameFor(model => model.ProjectInventories) -->
                    Project Inventory
                </dt>
                @for (var itemIndex = 0; itemIndex < Model.ProjectInventories.Count; itemIndex++)
                {
                    <dd>
                        <!--AT Html.DisplayFor(model => model.ProjectInventories.ToList()[itemIndex].Inventory.Title)-->
                        @Html.DisplayFor(model => model.ProjectInventories.ToList()[itemIndex].Inventory.FabricColor)
                        @Html.DisplayFor(model => model.ProjectInventories.ToList()[itemIndex].Inventory.FabricType)

                        @Html.DisplayFor(model => model.ProjectInventories.ToList()[itemIndex].Inventory.FabricAmount)
                        @Html.DisplayFor(model => model.ProjectInventories.ToList()[itemIndex].Inventory.FabricUnit)




                        <!--   delete from project attempt -->
                        <!--
                        <form action="/ProjectInventories/DeleteProjectInventory" method="post">
                            <button class="btn btn-info" name="delete" value="delete">Delete</button> -->

                        @Html.Hidden("ProjectId", Model.ProjectId)
                        @Html.Hidden("ProjectInventoryIndex", itemIndex)


                        <!----/form -->
                    </dd>
                }

            </dl>

            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.ProjectId }) |
                @Html.ActionLink("Back to List", "Index")
            </p>




            <div id="AllInventories">
                <h2>Material Inventory</h2>

                <ul>
                    @foreach (var item in ViewBag.Inventories)
                    {
                        // form POST method, make action point to a end point on projectsInventoy controller
                        //pass Model.Projectid and Id of current inventoryItem
                        // form element 2 input type buttons add/delete
                        //mikedoenetting.com


                        <li>
                            <!---form action="/api/ProjectInventories" -->
                            <!--using (Html.BeginForm("PostProjectInventory", "ProjectInventories"))-->
                            <form action="/ProjectInventories/PostProjectInventory" method="post">

                                <input type="submit" value="Add to Project" /> <!--PostProjectInventory-->

                                @Html.Hidden("InventoryId", (item as Inventory).InventoryID)
                                @Html.Hidden("ProjectId", Model.ProjectId)


                                <!--- at item.Title -->
                                @item.FabricType
                                @item.FabricColor
                                @item.FabricAmount
                                @item.FabricUnit


                            </form>

                            <!--- input type="submit" name="add" value="add to project" /-->
                            <!--   delete from project attempt
                                <form action="/ProjectInventories/DeleteProjectInventory" method="post">
                                   class="btn btn-info" name="delete" value="delete"></button>
                                   </form> -->
                        </li>

                    }
                </ul>
            </div><!--id="AllInventories div"-->


        </div><!--details -->

        <div class="col-md-6">
         <h1>Reference Images</h1>
            <form method="post" action="">
                <div>
                    <select name="photoChoice">
                        <option class="banner" value="~/Content/images/bkcanary.jpg" alt="black canary">Canary Scream</option>
                        <option value="~/Content/images/bkcanary_2.jpg">Canary Full Body</option>
                        <option value="/Content/images/Canary_headshot.jpeg">Canary Headshot</option>
                    </select>
                    &nbsp;
                    <input type="submit" value="Submit" />
                </div>
                <div style="padding:10px;" id="banner">
                    @if (imagePath != "")
            {
                        <img src="@imagePath" alt="Sample Image" height="700px" width="500px" />
                    }
                </div>
            </form> 
            <!-- <div id="banner"><img src="~/Content/images/bkcanary.jpg" alt="black canary" />
             <img src="~/Content/images/abby.jpg" alt="abby" />
                <img src="https://yodaarchives.files.wordpress.com/2016/01/bkcanary_june16_022.jpeg" />
             <img src="https://yodaarchives.files.wordpress.com/2016/01/bkcanary_june16_4x6.jpeg"/>
              </div> 

        <!----   <form action="" method="post" enctype="multipart/form-data">
                <fieldset>
                    <legend> Upload Image </legend>
                    <label for="Image">Image</label>
                    <input type="file" name="Image" />
                    <br />
                    <input type="submit" value="Upload" />
                </fieldset>
            </form>
            <h1>Uploaded Image</h1>
            ATif (imagePath != "")
            {
                <div class="result">
                    <img src="ATimagePath" alt="image" />

                </div>
            }
        </div> -->
    </div> <!--end row-->

</div>
